{% extends "app/layout.html" %}

{% block content %}



<address>
    Мы находимся в городе Псков. <br />
    Принимаем заказы тортов только по Пскову. <br />
    <abbr title="Телефон">тел:</abbr>
   8(999)-244-56-19
</address>

<address>
    <strong>Техническая поддержка:</strong>   <a href="mailto:alyona.platonova2013@gmail.ru">alyona.platonova2013@gmail.ru</a><br />
    <strong>Отдел маркетинга:</strong> <a href="mailto:alena.moyot@yandex.ru">alena.moyot@yandex.ru</a><br />
    <strong>Информация о разработчике:</strong> сайт разработан студентом Института инженерных наук города Пскова.<br />
    <strong>По вопросам сотрудничества:</strong>   <a href="mailto:alyona.platonova2013@gmail.ru">alyona.platonova2013@gmail.ru</a>
</address>


   

{% endblock %}
