{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Сам себе кондитер</h1>
    <p class="lead"> Здесь есть рецепты и лайфхаки, мастер-классы и, конечно, пошаговые инструкции с фото.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Лайфхаки</h2>
        <p>
           
        </p>
        <p><a class="btn btn-default" href="{% url 'videopost' %}">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Эксклюзивные рецепты</h2>
        <p>Рецепты собственной разработки, технологические карты приготовления тортов с фотографиями</p>
        <p><a class="btn btn-default" href="{% url 'catalog' %}">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Сделать заказ торта к вашему торжеству.</h2>
        <p>Оставьте свою зявку в разделе обратная связь и мы свяжемся с вами по электронной почте. </p>
        <p><a class="btn btn-default" href="{% url 'anketa' %}">Оставить заявку &raquo;</a></p>
    </div>
</div>
{% load staticfiles %}
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000";>
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="{% static 'app/content/banner1.jpg'%} " alt="Первый слайд" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Здесь можно ознакомиться с информацией о нас.
                    <a class="btn btn-default" href="{% url 'about' %}">
                        Читать далее
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="{% static 'app/content/banner2.jpg'%}" alt="Второй слайд"  class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Блог с рецептами сладкой и сытной выпечкой.
                    <a class="btn btn-default" href="{% url 'blog' %}">
                        Читать далее
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src=" {% static 'app/content/banner4.jpg'%} " alt="Третий слайд"  class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Обратная свзять.
                    <a class="btn btn-default" href="{% url 'anketa' %}">
                        Читать далее
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
{% endblock %}
